<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 版权声明 Copyright (c) 2026。
  ~ 版权所有者： [全科医生系统V2.1]
  ~ 首创日期： 2026年4月8日
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkplm.clinic.clinicserver.mapper.BqEnumItemMapper">

</mapper>
